<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to TurboGears 2.0, standing on the 
  shoulders of giants, since 2007</title>
</head>

<body>
    <div id="status_block" class="flash">Your application is now running</div>
    <div id="sidebar">
    <h2>Contribute</h2>
    Get help
    <ul class="links">
      <li><a href="http://docs.turbogears.org">Documents</a></li>
	  <li><a href="http://docs.turbogears.org">API</a></li>
      <li><a href="http://trac.turbogears.org/turbogears/">Bug Tracker</a></li>
      <li><a href="http://groups.google.com/group/turbogears">Mail List</a> </li>
    </ul>
    <span py:replace="now.strftime('%Y-%m-%d %H:%M')">now</span>
  </div>
  <div id="getting_started">
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>Code your data model</h3>
        <p> Code your data model, Create the database, and Add some bootstrap data.</p>
      </li>
      <li class="getting_started">
        <h3>Design your URLs</h3>
        <p> Design your URLs, Write your controller methods, Write your 
		templates, and Add some static files (CSS and/or JavaScript). </p>
      </li>
      <li class="getting_started">
        <h3>Build an distribution</h3>
        <p> Build an distribution. </p>
      </li>
    </ol>
    <div class="notice"> TurboGears is an opensource project, help yourself to 
	make turbogears better and make your life easier.</div>
  </div>
</body>
</html>