<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="header.html" />
  <xi:include href="sidebars.html" />
  <xi:include href="footer.html" />
  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title>Welcome to TurboGears 2.0, standing on the 
  shoulders of giants, since 2007</title>
</head>

<body>
    ${sidebar_top()}
    ${sidebar_bottom()}
  <div id="getting_started">
    <p>TurboGears 2 is fast web app construction with a strong Model/View/Controller (MVC) architecture.</p>
    <ol id="getting_started_steps">
      <li class="getting_started">
        <h3>Code your data model</h3>
        <p> Design your data model, Create the database, and Add some bootstrap data.</p>
        <p> (It's easy.  SQLAlchemy turns your Python objects into SQL tables.  You work with Python (the gold standard in modern languages), SQLAlchemy handles the magic (base metals of SQL querying, for nearly any SQL database).</p>
      </li>
      <li class="getting_started">
        <h3>Design your site architecture</h3>
        <p> Decide your URLs, Program your controller methods, Design your 
		templates, and Place some static files (CSS and/or JavaScript). </p>
        <p> (Easy again.  All requests run through your Controller methods, where security is the first order of business.  Generate a Python dictionary of useful data and pass it to your display templates.  The Genshi template system renders it all in perfect XHTML --  and the templates play nicely with your web designer working with HTML layout software.)</p>
      </li>
      <li class="getting_started">
        <h3>Distribute your app</h3>
        <p> Test your source, Generate project documents, Build a distribution.</p>
        <p> (All easy.  From the very quickstart your app is ready to be turned into a Python egg for easy distribution to other servers or for open source release.  Unit testing is integrated and ready to use.  Just add documentation and go.)</p>
      </li>
    </ol>
    <p>For fun we've added "change me" notes in a couple places on this page, like the header, just to give you clues on where different things are coming from in TurboGears2.  For more details, click the first link in the "Get Started" sidebar to read a quick guide to this TG2 site.</p>
  </div>
  <div class="clearingdiv" />
  <div class="notice"> TurboGears is an opensource project; help yourself to 
	  make TurboGears better and make your life easier.
  </div>

</body>
</html>
